@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";
@import "common/global";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/general";
@import "layouts/front-page";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";
