.header {
  &__container {
    @include make-container();
    @include make-container-max-widths();
  }

  &__row {
    @include make-row();
  }

  &__brand {
    @include make-col(3);
  }

  &__nav {
    @include make-col(9);
  }
}

@include media-breakpoint-up(xs) {
  .header {
    &__container {
      max-width: 1164px;
    }
  }
}

.home {
  .header {
    padding: 20px 0 0;

    .brand {
      padding: 0 15px;
    }

    &__container {
      nav {
        #primary-menu {
          li {
            display: flex;
            align-items: center;

            &:not(:last-child) {
              margin: 0 28px 0 0;
            }

            span {
              line-height: 0;
              margin: 0 8px 0 0;
            }

            a {
              font-family: 'Roboto Condensed', sans-serif;
              font-weight: 700;
              color: #fff;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
